		body{
			background-image:url(../image/bigbg.jpg);
			font-family:"微软雅黑";
		}
		.scene{
			width:1000px;
			height:600px;
			position:absolute;
			/*border:1px solid #000;*/
			left:0;
			right:0;
			top:0;
			bottom:0;
			margin:auto;
			font-size:50px;
			text-align:center;
			line-height:30px;
		}
		.pai{
			width:120px;
			height:168px;
			background-size:100%;
			box-shadow:0 0 2px black;
			border-radius:5px;
			opacity:0;
			position:absolute;
			left:440px;
			top:0px;
		}
		.scene .move-left{
			width:200px;
			height:30px;
			background:#eee;
			border-radius:5px;
			position:absolute;
			left:400px;
			bottom:50px;
			cursor:pointer;
			z-index:100;
			opacity:0;
		}
		.scene .move-right{
			width:200px;
			height:30px;
			background:#eee;
			border-radius:5px;
			position:absolute;
			left:400px;
			bottom:100px;
			cursor:pointer;
			z-index:100;
			opacity:0;
		}
		.start{
		width:100px;
		height:40px;
		position:absolute;
		left:20px;
		top:20px;
		cursor:pointer;
		}
		.start img{
			width:200px;
			height:200px;
		}
		.reset{
			width:100px;
			height:40px;
			position:absolute;
			left:20px;
			top:220px;
			cursor:pointer;
		}
		.reset img{
			width:200px;
			height:200px;
		}
	
		.end{
			width:100px;
			height:40px;
			position:absolute;
			left:20px;
			top:420px;
			cursor:pointer;
		}
		.end img{
			width:200px;
			height:200px;
		}
		.jishi{
			width:144px;
			height:141px;
			position:absolute;
			right:55px;
			top:175px;
		}
		.jishi img{
			width:144px;
			height:141px;
		}
		.time{
			width:200px;
			height:50px;
			position:absolute;
			left:0;
			top:40px;
			font-size:30px;
			text-align:center;
			line-height:50px;
			color:#000;
			z-index:100;
		}
		.pic{
			width:200px;
			height:160px;
			position:absolute;
			right:20px;
			top:50px;
		}
		.pic img{
			width:200px;
			height:160px;
		}
		.defen{
			width:200px;
			height:160px;
			position:absolute;
			right:20px;
			top:310px;
		}
		.defen img{
			width:200px;
			height:160px;
		}
		.score{
			width:200px;
			height:50px;
			position:absolute;
			right:0;
			top:40px;
			font-size:30px;
			text-align:center;
			line-height:50px;
			color:#000;
			z-index:100;
		}
		.pic1{
			width:144px;
			height:136px;
			position:absolute;
			right:55px;
			top:428px;
		}
		.pic1 img{
			width:144px;
			height:136px;
		}